{{#if infos.email}}
    <div class="footer">
        <a target="_blank" href="{{infos.email}}" class="footer__anchor">
            <i class="icon icon--small icon--envelope"></i>Lets talk?
        </a>
    </div>
{{/if}}