<section class="loading__section">
    <span class="loading__loader">
        <div class="loading__circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </span>
</section>